# Python
*.pyc

# Extra parser files
parser.out
parsetab.py

# databases
*.db

# output files
nohup.out
dryrun.pid

# BAS python package files
python/build/lib/bas/*.py

# redis dump
dump.rdb

# vagrant files
.vagrant

# vim swap file
*.swp

# ignore api_keys file
api_keys
