<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Appstack Web API</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/jquery.bas.realtime.css" rel="stylesheet" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.1.1/jquery-migrate.min.js"></script>
    <script src='http://keith-wood.name/js/jquery.svg.js'></script>

    <script src="/static/jquery.appstack.js"></script>
    <script src="/static/jquery.bas.realtime.js"></script>
  </head>
  <body class="container">
    <h1>Appstack HTML Pages</h1>
    <p><a href='geo.html' id="all-buildings">All buildings</a></p>
    <p><a href='all.html' id="all">All objects and devices</a></p>
    
    <div class="row">
      <div class="span4">
        <form>
          <div class="control-group">
            <label class="control-label" for="format">Format:</label>
            <div class="controls">
              <select id="format" name="format">
                <option>HTML</option>
                <option>JSON</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="q">Query:</label>
            <div class="controls">
              <input autofocus autocomplete="off" id="q" value="" type="text" name="q" /></label>
            </div>
          </div>
        </form>

        <form>
          <div class="control-group">
            <label class="control-label" for="c">Commands:</label>
            <textarea autocomplete="off" id="c" value="" name="c" type="form"></textarea>
          </div>

          <div class="control-group">
            <button id="run" class="btn btn-primary" type="submit">Run</button>
            <button id="dry-run" class="btn" type="submit">Dry Run</button>
          </div>
        </form>

        <h4>Actuating</h4>
        <div><ul id='actuation-candidates'></ul></div>

        <h4>Object Details</h4>
        <div id='details'><ul id="command-results"></ul></div>
      </div>

      <div class="span4">
        <h4>Devices</h4>
        <div class="results" id="results"></div>
      </div>

      <div class="span4">
        <h4>Areas</h4>
        <div id="svgstuff"></div>
      </div>
    </div>

    <div class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <iframe id="modal-results"></iframe>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </body>
</html>
