<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Appstack Web API</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" media="all" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>

    <style>
      .loading { background: url('loading.gif') center center no-repeat; }
    </style>

    <script>
      jQuery(function($) {
        // don't actually submit the form
        $('form').submit(function(e) {
          e.preventDefault(); 
          return false;
        });
      
        // only make AJAX calls every 250ms
        $('#q').on('keyup', $.debounce(250, false, function(e) {
          var url = 'query';
          
          if ($('#format').val() === 'HTML') {
            url += '.html';
          }
            
          var query = $(this).serialize();
          var geourl = url;

          // URL-encode form field
          url += '?' + query;
          geourl += '?q=%21%20>%20' + query.slice(2);
          console.log("geo: %s", geourl);

          // load the results into the results <div>
          $('#results').addClass('loading').load(url, function() {
            $(this).removeClass('loading');
          });

          $('#georesults').addClass('loading').load(geourl, function() {
            $(this).removeClass('loading');
          });
        }));

        // dumb edge-case
        $('#format').change(function() {
          $('#q').keyup();
        });

        $('#all-buildings').on('click', function(e) {
          e.preventDefault();
          $('#q').val('!').keyup(); // trigger AJAX programatically
        });

        $('#all').on('click', function(e) {
          e.preventDefault();
          $('#q').val('.').keyup();
        });
      });
    </script>
  </head>
  <body class="container">
    <h1>Appstack HTML Pages</h1>
    <p><a href='geo.html' id="all-buildings">All buildings</a></p>
    <p><a href='all.html' id="all">All objects and devices</a></p>
    
    <div class="row">
      <div class="span4">
        <form>
          <div class="control-group">
            <label class="control-label" for="q">Query:</label>
            <div class="controls">
              <input autofocus autocomplete="off" id="q" value="" type="text" name="q" /></label>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="format">Format:</label>
            <div class="controls">
              <select id="format" name="format">
                <option>HTML</option>
                <option>JSON</option>
              </select>
            </div>
          </div>
        </form>

        <h4>Sample Queries</h4>
        <ul>
          <li>$Light Bank < ! Floor 4</li>
          <li>.SEN < $Outside Air Damper</li>
        </ul>
      </div>

      <div class="span4">
        <h4>Devices</h4>
        <div id="results"></div>
      </div>

      <div class="span4">
        <h4>Areas</h4>
        <div id="georesults"></div>
      </div>
    </div>
  </body>
</html>
