<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Appstack Web API</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" media="all" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>

    <style>
      .loading { background: url('loading.gif') center center no-repeat; }
      #modal-results { width: 98%; height: 380px; }
    </style>

    <script>
      jQuery(function($) {
        // don't actually submit the form
        $('form').submit(function(e) {
          e.preventDefault(); 
          return false;
        });
      
        // only make AJAX calls every 250ms
        $('#q').on('keyup', $.debounce(250, false, function(e) {
          var url = 'query';
          
          if ($('#format').val() === 'HTML') {
            url += '.html';
          }
            
          var query = $(this).serialize();
          var geourl = url;

          // URL-encode form field
          url += '?' + query;
          geourl += '?q=%21%20>%20' + query.slice(2);

          // load the results into the results <div>
          $('#results').addClass('loading').load(url, function() {
            $(this).removeClass('loading');
          });

          $('#georesults').addClass('loading').load(geourl, function() {
            $(this).removeClass('loading');
          });
        }));

        $('.results').on('click', 'a.floorplan', function(e) {
          e.preventDefault();
          var url = $(this).attr('href');
          $('#modal-results').attr('src', encodeURI(url.trim())).parents('.modal').modal('show');
        });

        $('.results').on('click', 'a.uuid', function(e) {
          e.preventDefault();
          var url = $(this).attr('href');
          $('#details').load(url, function() {});
        });

        // dumb edge-case
        $('#format').change(function() {
          $('#q').keyup();
        });

        $('#all-buildings').on('click', function(e) {
          e.preventDefault();
          $('#q').val('!').keyup(); // trigger AJAX programatically
        });

        $('#all').on('click', function(e) {
          e.preventDefault();
          $('#q').val('.').keyup();
        });

        $('#georesults').delegate('a.all-objs-devices', 'click', function(e) {
          e.preventDefault();
          var url = $(this).attr('href');
          $('#q').val(decodeURI(url.trim()).slice(21)).keyup();
        });
      });
    </script>
  </head>
  <body class="container">
    <h1>Appstack HTML Pages</h1>
    <p><a href='geo.html' id="all-buildings">All buildings</a></p>
    <p><a href='all.html' id="all">All objects and devices</a></p>
    
    <div class="row">
      <div class="span4">
        <form>
          <div class="control-group">
            <label class="control-label" for="q">Query:</label>
            <div class="controls">
              <input autofocus autocomplete="off" id="q" value="" type="text" name="q" /></label>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="format">Format:</label>
            <div class="controls">
              <select id="format" name="format">
                <option>HTML</option>
                <option>JSON</option>
              </select>
            </div>
          </div>
        </form>

        <h4>Object Details</h4>
        <div class='results' id='details'></div>
      </div>

      <div class="span4">
        <h4>Devices</h4>
        <div class="results" id="results"></div>
      </div>

      <div class="span4">
        <h4>Areas</h4>
        <div class="results" id="georesults"></div>
      </div>
    </div>

    <div class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <iframe id="modal-results"></iframe>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </body>
</html>
