<!DOCTYPE html>
<html>
  <head>
    <title>{{ obj.name }}</title>
  </head>
  <body>
    <p>Name: {{ obj.name }}</p>
    <p>Type: {{ obj.type }}</p>
    <p>UUID: <a class="uuid" href='{{url_prefix}}uuid/{{ obj.uuid }}.html'>{{ obj.uuid }}</a></p>
    <p><a href='{{url_prefix}}uuid/{{ obj.uuid }}'>JSON format</a></p>
    <p>
    Methods:
    {% for method in obj.methods %}
    {{ method }},
    {% endfor %}
    </p>
    <p>
    <a href='{{url_prefix}}query.html?q=%21 > ^{{ obj.uuid }}'>Geospacial areas</a>
    </p>
  </body>
</html>
