<!DOCTYPE html>
<html>
  <head>
    <title>Objects</title>
  </head>
  <body>
    <table class="table table-hover">
      {% for obj in objs %}
      <tr>
        <td class='no-select' data-uuid='{{ obj.uuid }}'>
          {% if obj.type == 'Area' %}
          Name: <a class="floorplan" href="{{ url_prefix }}geo.html?building={{ obj.building }}&floor={{ obj.floor }}&zone={{ obj.name }}">{{ obj.name }}</a><br/>
          {% else %}
          Name: {{ obj.name }}<br/>
          {% endif %}
          Type: {{ obj.type }}<br/>
          {% if obj.building %}
          Building: <a class="floorplan building" href="{{ url_prefix }}geo.html?building={{ obj.building }}">{{ obj.building }}</a><br/>
          {% endif %}
          {% if obj.floor %}
          Floor: <a class="floorplan floor" href="{{ url_prefix }}geo.html?building={{ obj.building }}&floor={{ obj.floor }}">{{ obj.floor }}</a><br/>
          {% endif %}
          {% if obj.building and obj.floor %}
          <a class="all-objs-devices" href="{{ url_prefix }}query.html?q=.<%21{{ obj.name }} < %21{{ obj.floor }} < %21{{ obj.building }}">Objects and Devices in this area</a><br/>
          {% endif %}
          {% if obj.type == "Building" %}
          <a class="geoview" href="{{ url_prefix }}geo.html?building={{ obj.name }}">Geo view of this building</a><br/>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
